@import "normalize";

* {
	box-sizing: border-box;
}

body {
  font: 100%/1.5 "Helvetica", Arial, sans-serif;
  background: #fff;
  color: #000;
}

.container {
  max-width: 1400px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

img {
  display: block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

.top-related-tracks {
  margin: 0;
  padding: 0;
  list-style: none;
}

.top-related-tracks li {
  padding: 20px;
  background: #fff;
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.top-related-tracks li:nth-child( even ) {
  background: rgba(0,0,0,.05)
}

.artist-img {
  width: 100px;
}