@import "normalize";
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700);
@import "_mixins";

$color-green:  #3A8DB3;
$color-blue:   #5F90C0;
$color-purple: #6064ad;
$color-text:   #313140;
$max-width:    48em;

/* Helpers */

.cf {
  &:before,
  &:after {
    content: " "; 
    display: table; 
  }

  &:after {
    clear: both;
  }

  *zoom: 1;
}

/* Base */

* {
	@include box-sizing( border-box );
}

body {
  font: 100%/1.5 "Source Sans Pro", "Helvetica", Arial, sans-serif;
  background: #f9f9f9;
  color: $color-text;
  -webkit-font-smoothing: antialiased;
}

.btn {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  cursor: pointer;
  margin: 0;
  height: 50px;
  padding: 0 1.5em;
  border-radius: 2px;
  border: 2px solid $color-purple;
  color: $color-purple;
  text-align: center;
  background-color: transparent;
  transition: all 350ms ease;

  &,
  &:hover {
    text-decoration: none;
  }

  &:hover {
    border-color: darken( $color-purple, 10% );
    color: darken( $color-purple, 10% );
  }

  &:active,
  &:focus {
    outline: none;
  }
}

.btn--small {
  height: 40px;
  padding: 0 0.8em;
  font-size: 14px;
}

.btn--white {
  border-color: #fff;
  color: #fff;
}

.form-control {
  display: block;
  width: 100%;
  height: 50px;
  padding: 10px 20px;
  //font-size: $font-size-base;
  //line-height: $line-height-base;
  //color: #000;
  background-color: transparent;
  background-image: none;
  border: 2px solid #ddd;
  border-radius: 2px;
  transition: border 350ms ease;

  &:active,
  &:focus {
    outline: 0;
    border-color: darken( #ddd, 10% );
  }
}

.form-control--dark {
  border-color: darken( $color-purple, 10% );
}

.form-inline {
  .form-control {
    display: inline-block;
    width: auto; 
    vertical-align: middle;
  }
}

a {
  color: $color-text;
  text-decoration: none;
  transition: color 350ms ease;

  &:hover {
    color: $color-purple;
  }
}

img {
  display: block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

/* Main */

.container {
  max-width: $max-width;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.top-related-tracks {
  margin: 0 0 50px 0;
  padding: 0;
  list-style: none;
}

.btn--newsearch {
  position: absolute;
  top: 30px;
  right: 30px;
  opacity: 0;
  @include transition( opacity 350ms ease );
}

.artist-img {
  width: 100px;
}

.track {
  @extend .cf;
  color: #666;
  padding: 30px;
  background-color: #fff;
  margin-bottom: 8px;
  border-radius: 3px;
  position: relative;
  opacity: 0;
  
  &:hover {
    .btn--newsearch {
      opacity: 1;
    }
  }
}

.track__name {
  font-weight: 600;
  color: #313140;
  font-size: 20px;
  @include truncate( 75% );
}

.track__img {
  float: left;
  width: 100px;
  height: 100px;
  margin-right: 20px;
  border-radius: 4px;
}

.label {
  font-weight: 600;
  text-transform: uppercase;
  color: #999;
  margin-bottom: .5rem;
  font-size: 13px;
}

.search-form {
  position: relative;
  background-color: #fff;
  margin-bottom: 8px;
  padding: 30px;
  border-radius: 3px;

  .form-control {
    width: 100%;
    padding-right: 110px;
  }

  .btn {
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 1000;
  }
}

.loading {
  position: fixed;
  top: 0;
  right: 0;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -5%, 0);
            transform: translate3d(0, -5%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -5%, 0);
            transform: translate3d(0, -5%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
          animation-name: fadeInDown;
}